{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
      <h3 class="archive__item-title" itemprop="headline">
        {% if post.permalink %}
          <a href="{{ post.permalink | relative_url }}">{{ title }}</a>
        {% else %}
          {{ title }}
        {% endif %}
      </h3>
      {% if post.authors %}
        <p class="page__meta" style="margin-bottom: 0.5em;">
          {% assign author_list = post.authors | split: ", " %}
          {% for author_item in author_list %}
            {% assign current_author_cleaned = author_item | strip %}
            {% if current_author_cleaned == "Jiayan Guo" or current_author_cleaned == site.author.name %}
              <strong>{{ current_author_cleaned }}</strong>
            {% else %}
              {{ current_author_cleaned }}
            {% endif %}
            {% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </p>
      {% endif %}
      {% if post.venue %}
        <p class="page__meta" style="margin-bottom: 0.5em;">
          <i>{{ post.venue }}</i>
          {% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
          {% if post.pages %}, pp. {{ post.pages }}{% endif %}
        </p>
      {% endif %}
      <p class="page__meta">
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" target="_blank">[Paper]</a>&nbsp;
        {% endif %}
        {% if post.codeurl %}
          <a href="{{ post.codeurl }}" target="_blank">[Code]</a>&nbsp;
        {% endif %}
        {% if post.projecturl %}
          <a href="{{ post.projecturl }}" target="_blank">[Project Page]</a>&nbsp;
        {% endif %}
        {% comment %} 您可以添加更多自定义链接字段，例如：
        {% if post.slidesurl %}
          <a href="{{ post.slidesurl }}" target="_blank">[Slides]</a>&nbsp;
        {% endif %}
        {% if post.videourl %}
          <a href="{{ post.videourl }}" target="_blank">[Video]</a>&nbsp;
        {% endif %}
        {% endcomment %}
      </p>
    </li>
  </article>
</div>
